.no-company {
  .welcome-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 32px;

    .img-register {
      width: 250px;
    }

    .bottom-confirm {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin-bottom: 10px;
    }
  }
}

.pending {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 12px 32px;

  h2 {
    font-size: 2rem;
    color: #252525;
  }

  .section-main {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .divider-top {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 5px;
      padding: 15px;
      background-color: #27445d20;
      border-radius: 5px;
      color: #2b2b2b;
      font-weight: 600;
    }
  }

  .content-sections {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }

  .section-one,
  .section-two,
  .section-three {
    .title {
      font-weight: 700;
      font-size: 16px;
      color: #4c4c4c;
    }
  }

  .section-one,
  .section-three {
    display: flex;
    justify-content: space-between;
    gap: 5px;

    .left,
    .right {
      display: flex;
      flex-direction: column;
      background-color: #67676715;
      padding: 15px;
      border-radius: 5px;
      font-size: 14px;
      gap: 5px;
      color: #676767;
      width: 50%;
      box-shadow: 0px 3px 3px #949494e8;
    }
  }

  .section-two {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin: 10px 0;
    border-radius: 5px;
    font-size: 14px;

    div {
      display: flex;
      flex-direction: column;
      background-color: #67676715;
      padding: 15px;
      border-radius: 5px;
      font-size: 14px;
      gap: 5px;
      color: #676767;
      width: 100%;
      box-shadow: 0px 3px 3px #949494e8;
    }
  }
}
