services:
  mysql:
    image: mysql:8.0
    container_name: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: backenddb
    ports:
      - "3306:3306"
    volumes:
      - ./mysql-data:/var/lib/mysql
    networks:
      - project-net
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-uroot", "-proot"]
      interval: 5s
      timeout: 5s
      retries: 10

  backend:
    image: maven:3.9.6-eclipse-temurin-17
    container_name: spring-backend
    working_dir: /app
    ports:
      - "8080:8080"
    volumes:
      - ./backend:/app:cached
      - ${USERPROFILE}/.m2:/root/.m2  # cache Maven
    command: mvn -DskipTests -Dspring-boot.run.fork=false spring-boot:run
    environment:
      SPRING_PROFILES_ACTIVE: dev
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/backenddb
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: root
    depends_on:
      mysql:
        condition: service_healthy
    networks:
      - project-net  # <== Faltava isso

  frontend:
    build: ./frontend
    container_name: angular-frontend
    ports:
      - "4200:4200"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    command: ng serve --host 0.0.0.0
    networks:
      - project-net  # <== Opcional, mas bom pra comunicação via API (ex: http://backend:8080)

networks:
  project-net:
    driver: bridge
