.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  .profile-header {
    display: flex;
    justify-content: space-between;
    width: -webkit-fill-available;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;

    > :nth-child(1) {
      justify-content: flex-start;
    }

    div {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 33%;

      button {
        padding: 8px 16px;
        font-size: 16px;
        cursor: pointer;
        background-color: rgb(190, 190, 190);
        color: rgb(94 94 94);
        border-radius: 56%;
        width: 50px;
        height: 50px;
        border: 1px solid gray;
      }
    }

  }

  .user-icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(200, 200, 200);
    margin-bottom: 15px;
  }

  .profile-details {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
  }
}
