.page-owner {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .head-list-journey {
    display: flex;
    justify-content: space-between;
  }

  .list {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .card-journey {
      padding: 12px;
      border-radius: 8px;
      background: #27445D20;
      box-shadow: 0px 5px 5px 1px #00000080;
    }
  }

  .services {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .gestao {
      background-color: #71BBB220;
      color: #2D978A;
    }

    .financeiro {
      background-color: #ABBA3220;
      color: #5A8651;
    }

    .rotas {
      background-color: #FFF1C1;
      color: #E58D25;
    }

    .gestao,
    .financeiro {
      display: flex;
      flex-direction: column;
      padding: 12px;
      border-radius: 5px;

      .title {
        font-weight: 600;
        font-size: 16px;
      }
    }
  }

  .card-options {
    display: flex;
    justify-content: space-between;
    gap: 5px;

    .bus,
    .client,
    .driver {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      gap: 5px;
      padding: 12px;
      background-color: #EB87FF20;
      border-radius: 5px;
      box-shadow: 0px 5px 5px 1px #00000080;

      img {
        width: 40px;
      }
    }
  }
}
