<h2>Cadastro de Usuário</h2>

<!-- <form (ngSubmit)="onRegister()">
  <label>Nome:</label>
  <input [(ngModel)]="name" name="name" required />

  <label>Email:</label>
  <input [(ngModel)]="email" name="email" required />

  <label>Senha:</label>
  <input [(ngModel)]="password" name="password" type="password" required />

  <label>Função (Role):</label>
  <select [(ngModel)]="role" name="role">
    <option *ngFor="let r of roles" [value]="r">{{ r }}</option>
  </select>

  <button type="submit">Cadastrar</button>
</form> -->

<p>Já tem conta? <a routerLink="/login">Ir para login</a></p>
