.content-centralize {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .auth-container {
    width: 100%;
    padding: 2rem;

    .login-header {
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        width: 162px;
        height: auto;
        margin-bottom: 0.5rem;
      }

      h2 {
        margin-bottom: 1.5rem;
        color: #27445D;
        font-size: 32px;
        font-weight: bold;
      }
    }

    .btn-primary {
      width: 100%;
      height: 55px;
      margin-bottom: 1.5rem;
    }

    .notAccount {
      display: flex;
      flex-direction: row;
      gap: 5px;

      a {
        color: var(--seccondary-color);
        font-weight: 600;
        text-decoration: none;
      }
    }

    .error {
      color: red;
      margin-top: 10px;
    }
  }
}
