<div class="content-centralize">
  <div class="auth-container">
    <div class="login-header">
      <img src="assets/imgs/logo.png" alt="Logo" />
      <h2>BusCompany</h2>
    </div>

    <form (ngSubmit)="register()" #userForm="ngForm">
      <div class="input-group">
        <label>Nome</label>
        <input
          type="text"
          placeholder="Nome"
          [(ngModel)]="user.name"
          name="name"
          required
        />
      </div>

      <div class="input-group">
        <label>Email</label>
        <input
          type="email"
          placeholder="Email"
          [(ngModel)]="user.email"
          name="email"
          required
        />
      </div>

      <div class="input-group">
        <label>Senha</label>
        <input
          type="password"
          placeholder="Senha"
          [(ngModel)]="user.password"
          name="password"
          required
        />
      </div>

      <div class="input-group">
        <label>Role</label>
        <select [(ngModel)]="user.role" name="role">
          <option value="CLIENT">Cliente</option>
          <option value="ADMIN">Administrador</option>
          <option value="DRIVER">Motorista</option>
          <option value="OWNER">Empresa</option>
        </select>
      </div>

      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="userForm.invalid"
      >
        Cadastrar
      </button>
    </form>

    <p *ngIf="successMessage" class="success">{{ successMessage }}</p>
    <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>

    <p class="notAccount">
      Já tem conta?
      <a (click)="goToLogin()">Faça login</a>
    </p>
  </div>
</div>
