<div class="auth-container">
  <h2>Criar Conta</h2>

  <form (ngSubmit)="register()" #userForm="ngForm">
    <input type="text" placeholder="Nome" [(ngModel)]="user.name" name="name" required />
    <input type="email" placeholder="Email" [(ngModel)]="user.email" name="email" required />
    <input type="password" placeholder="Senha" [(ngModel)]="user.password" name="password" required />

    <select [(ngModel)]="user.role" name="role">
      <option value="USER">USER</option>
      <option value="ADMIN">ADMIN</option>
      <option value="DRIVER">DRIVER</option>
    </select>

    <button type="submit" [disabled]="userForm.invalid">Cadastrar</button>
  </form>

  <p *ngIf="successMessage" class="success">{{ successMessage }}</p>
  <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>

  <p class="switch">
    Já tem conta?
    <a (click)="goToLogin()">Faça login</a>
  </p>
</div>
