<!-- OWNER -->
<div *ngIf="userRole === 'OWNER'" class="center">
  <form (ngSubmit)="registerCompany()" class="form-card">
    <!-- ETAPA 1 -->
    <div *ngIf="step === 1" class="step">
      <h2>Cadastro da Empresa</h2>

      <!-- Nome da Empresa -->
      <label>Nome da Empresa</label>
      <input
        type="text"
        [(ngModel)]="company.companyName"
        name="companyName"
        required
      />

      <!-- CNPJ -->
      <label>CNPJ</label>
      <input type="text" [(ngModel)]="company.cnpj" name="cnpj" required />

      <!-- Tipo de Unidade -->
      <label>Tipo de Unidade</label>
      <input
        type="text"
        [(ngModel)]="company.unitType"
        name="unitType"
        required
      />

      <!-- CEP -->
      <label>CEP</label>
      <input
        type="text"
        [(ngModel)]="company.zipCode"
        name="zipCode"
        required
      />

      <button type="button" class="btn-primary" (click)="step = 2">
        Próximo →
      </button>
    </div>

    <!-- ETAPA 2 -->
    <div *ngIf="step === 2" class="confirm">
      <img
        src="../../../../assets/imgs/register_imgone_owner.png"
        class="img-register"
      />

      <h2>Pronto!</h2>
      <p>Finalize o cadastro e aguarde retorno da equipe.</p>

      <button type="submit" class="btn-primary full">Cadastrar Empresa</button>
    </div>
  </form>
</div>

<!-- ADMIN -->
<div *ngIf="userRole === 'ADMIN'" class="admin-list">
  <h2>Empresas Pendentes</h2>

  <p *ngIf="pendingCompanies.length === 0" class="empty">
    Nenhuma pendência encontrada
  </p>

  <div *ngFor="let comp of pendingCompanies" class="company-card">
    <strong>{{ comp.companyName }}</strong>
    <p>CNPJ: {{ comp.cnpj }}</p>
    <p>{{ comp.city }} – {{ comp.state }}</p>

    <div class="row-btns">
      <button class="btn-primary small" (click)="approve(comp.id!, true)">
        Aprovar
      </button>
      <button class="btn-danger small" (click)="approve(comp.id!, false)">
        Reprovar
      </button>
    </div>
  </div>
</div>
