<div class="home-container">
  <h2>Bem-vindo à Home!</h2>
  <p>Sua role atual é: <strong>{{ userRole }}</strong></p>

  <div *ngIf="userRole === 'ADMIN'">
    <p>Você está na área de administração.</p>
  </div>

  <div *ngIf="userRole === 'USER'">
    <p>Você está na área do usuário.</p>
  </div>

  <div *ngIf="userRole === 'DRIVER'">
    <p>Você está na área do motorista.</p>
  </div>

  <div *ngIf="userRole === 'OWNER'">
    <p>Você está na área do proprietário.</p>

  <button (click)="logout()">Sair</button>
</div>
