.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 60px;
  padding: 0px 20px;

  .navbar-left {
    display: flex;
    gap: 5px;
    align-items: center;

    .navbar-logo {
      height: 40px;
      cursor: pointer;
    }

    .navbar-brand {
      font-size: 24px;
      font-weight: bold;
      color: #27445D;
      cursor: pointer;
    }
  }

  .navbar-right {
    display: flex;
    gap: 12px;
    align-items: center; /* garantir alinhamento vertical */

    .info-account {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 14px;
      gap: 2px;
      color: #27445D;
      cursor: pointer;

      > :nth-child(2) {
        color: green;
      }
    }

    .image-account {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      overflow: hidden;
      cursor: pointer;

      .user-icon {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }
    }
  }
}
