.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 60px;
  padding: 0px 20px;

  .navbar-left {
    display: flex;
    gap: 5px;
    align-items: center;

    .navbar-logo {
      height: 40px;
      cursor: pointer;
    }

    .navbar-brand {
      font-size: 24px;
      font-weight: bold;
      color: #27445D;
      cursor: pointer;
    }
  }

  .navbar-right {
    display: flex;
    gap: 5px;

    .info-account {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 14px;
      gap: 5px;

      color: #27445D;
      text-decoration: none;
      cursor: pointer;

      > :nth-child(2) {
        color: green;
      }
    }

    .user-icon {
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 24px;
        height: 24px;
        cursor: pointer;
      }
    }
  }
}
