.page {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .card-journey {
    padding: 12px;
    border-radius: 8px;
    background: rgba(39, 68, 93, 0.1254901961);
    box-shadow: 0px 5px 5px 1px rgba(0, 0, 0, 0.5019607843);
  }

  .services {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .notices,
    .polls {
      display: flex;
      flex-direction: column;
      padding: 12px;
      border-radius: 5px;

      div {
        display: flex;
        justify-content: space-between;
      }
    }

    .notices {
      background-color: #ff000078;
      color: red;
    }

    .polls {
      background-color: #5100ff78;
      color: rgb(60, 0, 255);
    }
  }
}
