<div class="content-centralize">
  <div class="auth-container">
    <div class="login-header">
      <img src="assets/imgs/logo.png" alt="Logo" />
      <h2>BusCompany</h2>
    </div>

    <form (ngSubmit)="login()">
      <div class="input-group">
        <label>Login</label>
        <input
          type="email"
          placeholder="Email"
          [(ngModel)]="email"
          name="email"
          required
        />
      </div>

      <div class="input-group">
        <label>Senha</label>
        <input
          type="password"
          placeholder="Senha"
          [(ngModel)]="password"
          name="password"
          required
        />
      </div>
      <div>
        <button type="submit" class="btn btn-primary">Entrar</button>
      </div>
    </form>

    <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>

    <p class="notAccount">
      Não tem conta?
      <a (click)="goToRegister()">Crie uma agora</a>
    </p>
  </div>
</div>
