<button (click)="logout()">Sair</button>

<!-- NÃO TEM EMPRESA -->
<div *ngIf="status === 'NO_COMPANY'">
  <app-company-activation
    (companyCreated)="companyCreated()"
  ></app-company-activation>
</div>

<!-- AGUARDANDO APROVAÇÃO -->
<div *ngIf="status === 'PENDING'" class="pending-box">
  <p>Seu cadastro está aguardando aprovação.</p>
</div>

<div *ngIf="status === 'REJECTED'" class="rejected-box">
  <img src="assets/rejected_img.png" alt="" />
  <h2>Cadastro Rejeitado</h2>
  <p>
    Infelizmente, seu cadastro como empresa foi rejeitado. Por favor, entre em
    contato conosco para mais informações.
  </p>
  <button>Entrar em Contato</button>
</div>

<!-- EMPRESA ATIVA -->
<div *ngIf="status === 'APPROVED'" class="home-container">
  <h1>Bem-vindo!</h1>
  <p><strong>Empresa ativa:</strong></p>

  <p>{{ company?.name }} — {{ company?.cnpj }}</p>
</div>
