<app-navbar></app-navbar>
<div class="comp-with-nav">
  <!-- SEM EMPRESA -->
  <div *ngIf="status === 'NO_COMPANY'" class="no-company">
    <app-company-activation (companyCreated)="companyCreated()">
    </app-company-activation>
  </div>

  <!-- PENDENTE -->
  <div *ngIf="status === 'PENDING'" class="pending">
    <h2>Bem vindo, {{ userName }}</h2>

    <div class="section-main">
      <div class="divider-top">
        <span
          >Entraremos em contato com você. Para utilizar nosso serviço ainda
          faltam etapas</span
        >
        <img
          src="../../../../assets/imgs/telecommuting.png"
          class="img-register"
        />
      </div>
      <div class="divider-bottom">
        <div class="notice">
          <span>Depois que finalizar, já pode usar!</span>
          <div class="status">
            <span>o</span>
            <span>Pendente</span>
          </div>
        </div>
        <div class="content-buttons">
          <button
            class="btn"
            *ngIf="!isAdvancedConfig"
            (click)="goToAdvancedConf()"
          >
            Configuração avançada
          </button>
          <button class="btn">Solicitar acesso</button>
        </div>
      </div>
    </div>

    <div class="content-sections">
      <span>Serviços que terá direito</span>
      <div class="section-one">
        <span class="title">Finaceiro</span>
        <span>Controle facilmente o pagamento de mensalidades.</span>
        <span>Acompanhe suas finanças.</span>
        <span>Consulte o extrato financeiro.</span>
      </div>
      <div class="section-two">
        <span class="title">Rotas</span>
        <span>Acompanhar em tempo real.</span>
        <span>Gerar mapa</span>
        <span>Flexibilidade que você precisa para criar suas rotas.</span>
      </div>
      <div class="section-three">
        <span class="title">Gestão</span>
        <span>Controle de passageiros</span>
        <span>Confirmação de embarque</span>
        <span>Avisos importantes</span>
        <span>Enquetes</span>
      </div>
      <div class="section-four">
        <span class="title">Tudo na palma da mão</span>
        <span
          >Tenha a gestão do seu transporte escolar na mão, de forma simples,
          rápida e de onde quiser</span
        >
      </div>
    </div>
  </div>

  <!-- APROVADO -->
  <div *ngIf="status === 'APPROVED'" class="approved">
    <h2>Bem vindo, {{ userName }}</h2>
    <div>
      <span>Você faz parta do(a) </span
      ><strong>{{ company?.companyName }}</strong>
    </div>

    <div *ngIf="showJourneys; else noJourneys">
      <app-list-journeys></app-list-journeys>
    </div>

    <ng-template #noJourneys>
      <div class="section-main">
        <div class="divider-top">
          <span
            >Sua empresa já adquiriu nossos serviços! Agora, é hora de criar
            suas jornadas, definir os responsáveis e adicionar os usuários.
          </span>
          <img
            src="../../../../assets/imgs/company-active.png"
            class="img-register"
          />
        </div>
      </div>

      <div class="cards-completly">
        <div class="head-cards">
          <span>Você está aqui</span>
          <div class="line-conjunto">
            <div class="conjunto" [ngClass]="{ done: hasVehicle }">
              <div class="step-circle">{{ hasVehicle ? "✓" : "1" }}</div>
              <div class="step-label">Veículo</div>
            </div>
            <div class="conjunto" [ngClass]="{ done: hasClient }">
              <div class="step-circle">{{ hasClient ? "✓" : "2" }}</div>
              <div class="step-label">Cliente</div>
            </div>
            <div class="conjunto" [ngClass]="{ done: hasDriver }">
              <div class="step-circle">{{ hasDriver ? "✓" : "3" }}</div>
              <div class="step-label">Motorista</div>
            </div>
          </div>
        </div>
        <div class="card-one" (click)="goToVehicle()">
          <div
            [ngClass]="{
              left: true,
              'left-able': hasVehicle,
              'left-disable': !hasVehicle
            }"
          >
            <img src="assets/imgs/mini-bus.png" alt="mini onibus" />
            <span class="title">Cadastrar Veículo</span>
            <span>Cadastro de veiculo, tenha em mãos todos documentos</span>
          </div>
          <div
            [ngClass]="{
              right: true,
              'right-able': hasVehicle,
              'right-disable': !hasVehicle
            }"
          ></div>
        </div>
        <div class="card-two" (click)="goToCustomer()">
          <div
            [ngClass]="{
              left: true,
              'left-able': hasClient,
              'left-disable': !hasClient
            }"
          >
            <img src="assets/imgs/mini-user.png" alt="mini user" />
            <span class="title">Adicionar cliente</span>
            <span>Pelo menos um cliente para partiipar do transporte</span>
          </div>
          <div
            [ngClass]="{
              right: true,
              'right-able': hasClient,
              'right-disable': !hasClient
            }"
          ></div>
        </div>
        <div class="card-three">
          <div
            [ngClass]="{
              left: true,
              'left-able': hasDriver,
              'left-disable': !hasDriver
            }"
          >
            <img src="assets/imgs/mini-driver.png" alt="mini driver" />
            <span class="title">Vincular motorista</span>
            <span>Cadastre os motoristas que vão dirigir os veículos</span>
          </div>
          <div
            [ngClass]="{
              right: true,
              'right-able': hasDriver,
              'right-disable': !hasDriver
            }"
          ></div>
        </div>
      </div>

      <div class="create-journey">
        <span class="title">Minha primeira jornada!</span>
        <span>Finalize os cadastros acima e crie sua jornada!</span>
        <button
          (click)="goToNewJourney()"
          [ngClass]="canCreateJourney ? 'btn btn-enabled' : 'btn btn-disabled'"
          [disabled]="!canCreateJourney"
        >
          Criar jornada!
        </button>
      </div>
    </ng-template>
  </div>
</div>
