<app-navbar></app-navbar>

<div class="comp-with-nav">
  <!-- NO COMPANY -->
  <div *ngIf="status === 'NO_COMPANY'">
    <div *ngIf="step === 0" class="welcome-message">
      <img
        src="../../../../assets/imgs/register_imgone_client.png"
        class="img-register"
      />
      <div class="bottom-confirm">
        <h2>Finalize seu cadastro</h2>
        <span>
          Para fazer parte do fretado você precisa concluir seu cadastro.
        </span>
        <button class="btn btn-primary" (click)="step = 1">Próximo</button>
      </div>
    </div>

    <div *ngIf="step === 1">
      <app-final-registration-client (userActivated)="onUserActivated()">
      </app-final-registration-client>
    </div>

    <div *ngIf="step === 2">
      <app-user-select-company (requestSent)="status = 'PENDING'">
      </app-user-select-company>
    </div>
  </div>

  <!-- PENDING -->
  <div *ngIf="status === 'PENDING'" class="pending">
    <h3>Solicitação em análise</h3>
    <p>Aguarde a aprovação da empresa.</p>
  </div>

  <!-- APPROVED -->
  <div *ngIf="status === 'APPROVED'" class="approved">
    <p>Sua conta foi aprovada! Você já pode acessar o sistema.</p>
  </div>
</div>
